body {
       background-color: #7CFAF4;
     }

#t1 { margin-top: 6%; }
#t2 { margin-bottom: 6%; }
h1,h2 { text-align: center;
font-family: Montserrat, sans-serif;
}
#display { 
             width: 100%;
             height: min(15vh,120px);
             padding: 5%;
             box-sizing: border-box;
             color: #FFFFFF;
             background-color: #AAAAAA;
             font-size: 32px;
             display: flex;
             align-items: flex-end;
             justify-content: flex-end;
           }

table {
        width: 100%;
        height: 60vh;
        color: #FFFFFF;
        background-color: #565656;
        font-size: 24px;
        text-align: center;
        font-family: Montserrat, sans-serif;
     }
        
td {
     text-align: center;
     background-color: #212121;
   }
