/*.container-fluid {
       background-color: #FFFF00;
     }*/

h2 {
     font-family: Trirong, serif;
   }

#display { 
             width: 100%;
             height: 30vh;
             color: #FFFFFF;
             background-color: #AAAAAA;
             font-size: 32px;
             display: flex;
             align-items: flex-end;
             justify-content: flex-end;
           }

table {
        width: 100%;
        height: 70vh;
        color: #FFFFFF;
        background-color: #565656;
        font-size: 24px;
        text-align: center;
        font-family: Montserrat, sans-serif;
     }
        
td {
     text-align: center;
     background-color: #212121;
   }
